$red: hsl(0%, 36%, 70%);
$softRed: hsl(0%, 93%, 68%);
$grayRed: hsl(0%, 6%, 24%);
$test: black;


$gradientA: linear-gradient(135deg, hsl(1, 0%, 100%),  hsl(0, 100%, 98%));
$gradientB: linear-gradient(135deg, hsl(1, 80%, 86%),  hsl(0, 74%, 74%));
