@use "_colors";

* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: hsl(0, 100%, 98%);
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 374px;

  #brand {
    margin: 0;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    #brandLogo {
      height: 25px;
    }
  }

  #imageContainer {
    width: 100%;
    height: 250px;

    #ladyimage {
      width: 100%;
    }
  }

  #textContainer {
    display: flex;
    flex-direction: column;

    .titleContainer {
      display: flex;
      flex-direction: column;
      text-align: center;
      letter-spacing: 10px;

      h1 {
        border: none;
        padding-bottom: 5px;
        padding-top: 60px;
        font-size: 35px;
        font-weight: 300;
        color: colors.$red;
      }
      h2 {
        border: none;
        padding-bottom: 13px;
        font-size: 33px;
        font-weight: bold;
        letter-spacing: 12px;
      }
    }
    #message {
      width: 81%;

      color: colors.$grayRed;
      margin: auto;
      text-align: center;
      font-size: 14px;
      filter: blur(0.5px);
    }

    #emailInput {
      display: flex;
      flex-direction: row;
      border: 1px solid colors.$red;
      width: 85%;
      height: 45px;
      margin: 40px auto 93px auto;
      border-radius: 50px;

      justify-content: space-between;

      input {
        border: none;
        margin-left: 26px;
        font-size: 15px;
        width: 80%;

        &:focus {
          outline: none;
        }
      }

      #sendBtn {
        width: 65px;
        border-radius: 50px;
        border: none;
        background: colors.$gradientB;

        #arrow {
          background: transparent;
        }
      }
    }
  }
}

@media (width > 375px) {
  body {
    width: 1440px;
    display: flex;
    flex-direction: row-reverse;

    #brand {
      position: absolute;
      top: 20px;
      left: 140px;
    }

    #imageContainer {
      width: 610px;
      height: 100vh;

      #ladyImage {
        height: auto;
        width: 610px;
        content: url("./images/hero-desktop.jpg");
      }
    }

    #textContainer {
      height: 100vh;
      width: 100%;
      padding-top: 165px;
      .titleContainer {
        text-align: left;

        #mainTitle {
          letter-spacing: 10px;

          border: none;
          padding-bottom: 5px;
          padding-top: 60px;
          padding-left: 165px;
          font-size: 50px;
          font-weight: 300;
          color: colors.$red;
        }

        h2 {
          border: none;
          padding-bottom: 13px;
          padding-left: 165px;
          font-size: 50px;
          font-weight: bold;
          letter-spacing: 12px;
        }
      }

      #message {
        color: colors.$grayRed;
        margin: 0;
        padding-top: 60px;
        padding-left: 165px;
        padding-bottom: 55px;
        text-align: left;
        font-size: 19px;
        filter: blur(0.5px);
      }

      #emailInput {
        display: flex;
        flex-direction: row;
        width: 520px;
        height: 51px;
        border-radius: 50px;
        margin-bottom: 20px;
        justify-content: space-between;

        input {
          margin-left: 26px;
          font-size: 15px;
          width: 55%;
          height: 48px;

          &:focus {
            outline: none;
          }
        }

        #errorIcon {
          width: 20px;
          align-self: center          ;
          
          padding-top: 5px;
          padding-bottom: 5px;
         
        }

        #sendBtn {
          width: 65px;
          border-radius: 50px;
          border: none;
          background: colors.$gradientB;

          #arrow {
            background: transparent;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .inputErrorMessage {
        display: block;
        width: 80%;
        margin-top: 0;
        margin-left: 183px;
        color: red ;
        filter: blur(0.5px);

      
        
       
      }
    
    }
  }
  .showError {
    display: none;
    // background-color: red;
  }
}
